@import url("https://fonts.googleapis.com/css2?family=Artifika&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,900;1,100;1,200;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #7067f2;
}
html::-webkit-scrollbar-thumb {
  background: #000;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  font-size: 2.5rem;
}
.heading h1 {
  font-size: 4rem;
  padding-top: 0.5rem;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  margin-right: 2rem;
  font-size: 2rem;
  color: #ffffff;
  background: #4D45CB;
  border: 0.2rem solid #000;
  border-radius: 0%;
  cursor: pointer;
}
.button:hover {
  background-color: #f3b90b;
}

.line-down {
  position: relative;
  z-index: 0;
}
.line-down::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #f3b90b;
  z-index: -1;
  -webkit-clip-path: polygon(12% 24%, 0% 100%, 98% 50%);
          clip-path: polygon(12% 24%, 0% 100%, 98% 50%);
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-5rem);
  }
}
.header {
  min-height: 12vh;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem 10%;
}
.header .logo {
  font-size: 2.5rem;
  color: #4D45CB;
  font-weight: bolder;
}
.header .logo i {
  font-size: 2.5rem;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #000;
}
.header .navbar a:hover {
  text-decoration: underline;
}
.header #menu-btn {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #ffffff;
  border: 0.2rem solid #000;
  cursor: pointer;
  text-align: center;
  background: #4D45CB;
  margin-left: 0.6rem;
}
.header .icons div:hover {
  background: #f3b90b;
  color: #ffffff;
}
.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
}
.header .search-form.active {
  display: flex;
}
.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
}
.header .search-form i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  background: #eee;
  color: #ffffff;
  border: 0.2rem solid #000;
  cursor: pointer;
  text-align: center;
  background: #4D45CB;
}
.header .search-form i:hover {
  background: #f3b90b;
  color: #ffffff;
}
.header .search-form lable {
  font-size: 4rem;
  cursor: pointer;
  margin: 0 3rem;
}
.header .search-form lable:hover {
  color: #F1C40F;
  background-color: #000;
}
.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.2s linear;
  display: none;
  border: 0.2rem solid #000;
}
.header .login-form.active {
  display: block;
}
.header .login-form .login-heading {
  display: flex;
}
.header .login-form .login-heading h3 {
  font-size: 4rem;
  color: #000;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.header .login-form .login-heading .close-button {
  position: absolute;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #ffffff;
  border: 0.2rem solid #000;
  cursor: pointer;
  text-align: center;
  background: #4D45CB;
  margin: 1rem;
  top: 0;
  right: 0;
  cursor: pointer;
}
.header .login-form .login-heading .close-button:hover {
  background: #f3b90b;
  color: #ffffff;
}
.header .login-form .login-heading .close-button i {
  font-size: 2rem;
  /* Set the font size for the close icon */
  color: #ffffff;
  /* Set the color of the close icon */
  padding: 5px;
  /* Add some padding for the icon */
}
.header .login-form .textfield-box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
  margin: 0.5rem 0;
}
.header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.header .login-form .flex label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}
.header .login-form .flex a {
  font-size: 1.5rem;
  color: #000;
  margin-left: auto;
}
.header .login-form .flex a:hover {
  color: #F1C40F;
}
.header .login-form .button {
  width: 100%;
}
.header .login-form p {
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  padding-top: 1rem;
}
.header .login-form p a {
  color: #F1C40F;
}
.header .login-form p a:hover {
  text-decoration: underline;
}

.home {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  background: #7067f2;
}
.home .image {
  margin-top: 5rem;
  flex: 1 1 40rem;
}
.home .image img {
  width: 100%;
  animation: floating 4s linear infinite;
}
.home .content {
  flex: 1 1 40rem;
}
.home .content h3 {
  font-size: 4rem;
  color: #000;
  text-transform: capitalize;
}
.home .content p {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  padding: 1rem 0;
  line-height: 3rem;
  font-family: "Courier New", Courier, monospace;
}

.services {
  min-height: 60vh;
  margin: 1rem;
  padding-bottom: 2rem;
}
.services .heading {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.services .heading span {
  font-size: 2.5rem;
  color: #000;
  text-transform: capitalize;
}
.services .heading h1 {
  font-size: 4rem;
  color: #000;
  text-transform: capitalize;
  padding-top: 0.5rem;
}
.services .services-slider {
  padding-bottom: 2rem;
}
.services .slide {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.services .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(50deg, var(--white), transparent);
}
.services .slide .image {
  flex: 1 1 50rem;
}
.services .slide .image img {
  width: 100%;
  height: 100%;
}
.services .slide .content {
  width: 100%;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  flex: 1 1 50rem;
  border: 0.2rem solid #000;
}
.services .slide .content h3 {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  text-transform: uppercase;
  text-align: center;
}
.services .slide .content p {
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
  padding: 1rem;
  text-align: start;
}
.services .swiper-button-next,
.services .swiper-button-prev {
  top: initial;
  left: initial;
  bottom: 2rem;
  right: 2rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  font-size: 4rem;
  background-color: #ffffff;
  border: 0.2rem solid #000;
}
.services .swiper-button-next:hover,
.services .swiper-button-prev:hover {
  background: #F1C40F;
}
.services .swiper-button-next::after,
.services .swiper-button-prev::after {
  font-size: 4rem;
  color: #000;
}
.services .swiper-button-prev {
  right: 9rem;
}

.aboutus {
  background: #7067f2;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.aboutus .image {
  flex-wrap: 1 1 42rem;
}
.aboutus .image img {
  width: 100%;
  height: 50rem;
}
.aboutus .content {
  border: 0.2rem solid #000;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  flex: 1 1 42rem;
}
.aboutus .content h3 {
  font-size: 2.5rem;
  text-decoration: underline;
  padding-bottom: 0.5rem;
  line-height: 3rem;
}
.aboutus .content h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.aboutus .content p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.feature {
  min-height: 60vh;
}
.feature .box-container {
  margin: 1rem;
}
.feature .box {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  border: 0.2rem solid #000;
}
.feature .box:nth-child(even) {
  flex-flow: row-reverse wrap;
}
.feature .box:last-child {
  margin-bottom: 0;
}
.feature .box .image {
  padding: 1rem;
  flex: 1 1 42rem;
}
.feature .box .image img {
  width: 100%;
}
.feature .box .content {
  padding: 1rem 5rem;
  flex: 1 1 42rem;
}
.feature .box .content h3 {
  font-size: 3rem;
  color: #000;
  text-transform: capitalize;
  line-height: 3.5rem;
}
.feature .box .content li {
  font-size: 2.5rem;
  color: #000;
  text-transform: capitalize;
  line-height: 3.5rem;
}

.products {
  background-color: #4D45CB;
  align-items: center;
  height: 80vh;
  margin: 1rem 1rem;
}
.products img {
  width: 50%;
  height: 50%;
  padding: 1rem;
  background-color: #eee;
}
.products h1 {
  font-size: 4rem;
  color: #000;
  text-transform: capitalize;
  text-decoration: underline;
}
.products p {
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
}
.products .slider {
  align-items: center;
  background-color: #F1C40F;
  position: relative;
}
.products .slider .slide {
  position: absolute;
  background-color: #000;
  border: 0.2rem solid #000;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 7rem;
  border: 0.2rem solid #000;
}
.products .slider .slide .active {
  -webkit-clip-path: circle(110% at 0 50%);
          clip-path: circle(110% at 0 50%);
}
.products .slider .slide .productimage {
  flex: 1 1 50rem;
}
.products .slider .slide .productdescription {
  background-color: rgba(223, 242, 237, 0.8);
  flex: 1 1 50rem;
  padding: 2rem;
  border-radius: 0 5%;
}
.products .navigation {
  display: flex;
  height: 50%;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.products .navigation i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #ffffff;
  border: 0.2rem solid #000;
  cursor: pointer;
  text-align: center;
  background: #4D45CB;
  border-radius: 10%;
}
.products .navigation i:hover {
  background: #f3b90b;
  color: #ffffff;
}
.products .navigation .prev-btn, .products .navigation .next-btn {
  z-index: 999;
  font-size: 4rem;
}
.products .navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
  height: 90%;
}
.products .navigation-visibility .slide-icon {
  z-index: 999;
  background-color: #eee;
  width: 2rem;
  height: 1rem;
  margin-right: 2rem;
  border-radius: 20%;
  transform: translateY(-2rem);
}

.reviews {
  min-height: 40vh;
  background-color: #7067f2;
  padding: 2rem;
}
.reviews .slide {
  border: 0.2rem solid #000;
  padding: 2rem;
}
.reviews .slide p {
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  padding: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  background: var(--light-bg);
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.reviews .slide .user img {
  width: 7rem;
  height: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
}
.reviews .slide .user h4 {
  font-size: 1rem;
  color: #000;
  line-height: 1.5;
}
.reviews .slide .user .stars {
  padding-top: 0.5rem;
}
.reviews .slide .user .stars i {
  font-size: 1.5rem;
  color: var(--yellow);
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer .links .button {
  margin: 0.5rem;
}
.footer .credit {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
}
.footer .credit span a {
  color: #f3b90b;
  font-weight: bold;
}
.footer .credit span a:hover {
  color: #000;
}
.footer .credit span i {
  color: #000;
}

@media (max-width: 2560px) {
  html {
    font-size: 72.5%;
  }
  .header {
    padding: 0.5rem;
    display: flex;
    font-size: 60%;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 62.5%;
  }
  .header {
    padding: 1rem;
  }
  section {
    padding: 1rem 1rem;
  }
}
@media (max-width: 1212px) {
  html {
    font-size: 60.5%;
  }
  .header {
    padding: 1rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 55.5%;
  }
  .header {
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 50.5%;
  }
  .header {
    padding: 1rem;
  }
  .header .navbar a {
    font-size: 1.5rem;
  }
}
@media (max-width: 968px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 0.5rem;
  }
  .header .button {
    font-size: 1.75rem;
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 0.5rem;
  }
  .header #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.2rem solid #000;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }
  .header .navbar.active-navbar {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    padding: 1rem;
    margin: 0;
  }
  .header .button {
    display: none;
  }
  .home {
    gap: 0.5rem;
  }
  section {
    padding: 2rem 2rem;
  }
}
@media (max-width: 425px) {
  .header {
    min-height: 10vh;
    padding: 1rem;
  }
  .header .logo {
    font-size: 2rem;
    display: inline;
  }
  .header .logo i {
    font-size: 0.5rem;
  }
  .header .logo .fa-cogs {
    display: none;
  }
  .header .icons {
    display: inline;
  }
  .services {
    padding-bottom: 1rem;
    min-height: 60vh;
  }
  .services .heading {
    text-align: center;
    margin-bottom: 1rem;
  }
  .services .heading span {
    font-size: 3rem;
  }
  .services .heading h1 {
    font-size: 3.5rem;
    padding-top: 0.5rem;
  }
  .services .swiper-button-next,
  .services .swiper-button-prev {
    top: initial;
    left: initial;
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    background-color: #ffffff;
    border: 0.2rem solid #000;
  }
  .services .swiper-button-next:hover,
  .services .swiper-button-prev:hover {
    background: #F1C40F;
  }
  .services .swiper-button-next::after,
  .services .swiper-button-prev::after {
    font-size: 3rem;
    color: #000;
  }
  .services .swiper-button-prev {
    right: 6rem;
  }
  section {
    padding: 0.5rem 0.5rem;
  }
  .footer {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
  .header {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */