@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,900;1,100;1,200;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
}


        $black: #000;
        $white: #ffffff;
        $primarycolorblue: #4D45CB;
        $primarycolorlightblue: #7067f2;
        $primarycolorlightblue1: #c7c3f9;
        $yellow:#F1C40F;
        $primarycoloryellow: #f3b90b;
        $border: 0.2rem solid $black;
        $light-color: #666;
        $light-bg: #eee;
        $box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);





@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: $black;
    text-transform: capitalize;
}

@mixin paraText($titleSize) {
    font-size: $titleSize;
    color: $black;
    text-transform: capitalize;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: $black;
    line-height: 1.5;
}

@mixin iconBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: $light-bg;
    color: $white;
    border: $border;
    cursor: pointer;
    text-align: center;
    background: $primarycolorblue;
   

    &:hover {
        background: $primarycoloryellow;
        color: $white;
    }
}

@mixin smalliconBox() {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    background: $light-bg;
    color: $white;
    border: $border;
    cursor: pointer;
    text-align: center;
    background: $primarycolorblue;
   

    &:hover {
        background: $primarycoloryellow;
        color: $white;
    }
}



html {

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $primarycolorlightblue;
    }

    &::-webkit-scrollbar-thumb {
        background: $black;
    }
}

.heading {
    text-align: center;
    margin-bottom: 2rem;

    span {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 4rem;
        padding-top: 0.5rem;
    }

}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: $white;
    background: $primarycolorblue;
    border: $border;
    border-radius: 0%;
    cursor: pointer;

    &:hover {
        background-color: $primarycoloryellow;
    }
}

.line-down {
    position: relative;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: 0.5rem;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $primarycoloryellow;
        z-index: -1;
        clip-path: polygon(12% 24%, 0% 100%, 98% 50%);
    }
}

// section {
//     //padding: 1rem ;
//    border: $border;
//    border-radius: 2%;
// }

@keyframes floating {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-5rem);
    }
}

.header {
    min-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 3rem 10%;

    .logo {

        font-size: 3rem;
        color: #4D45CB;
        font-weight: bolder;

        i {
            font-size: 3.5rem;

        }

    }

    .navbar a {
        margin: 0 1rem;
        font-size: 2.0rem;
        color: $black;


        &:hover {
            text-decoration: underline;

        }
    }

    #menu-btn {
        cursor: pointer;
        font-size: 2rem;
        display: none;

    }

    .icons div {
        @include iconBox();
        margin-left: 0.6rem;
    }

    //start of -Search Form
    .search-form {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background:$white;
        box-shadow: $box-shadow;
        padding: 1rem;
        display: none;
        align-items: center;
        gap: 1rem;
        animation: fadeIn .2s linear;

        &.active {
            display: flex;
        }

        input {
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: $light-bg;
            font-size: 1.6rem;
            color:$light-color;
        }

        i{
            @include smalliconBox();
        }

        lable {

            font-size: 4rem;
            cursor: pointer;
            margin: 0 3rem;

            &:hover {
                color:$yellow;
                background-color: $black;
            }


        }
    }

    //End of -Search Form

    //start of -login form 
    .login-form {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: $white;
        box-shadow: $box-shadow;
        padding: 2rem;
        text-align: center;
        animation: fadeIn .2s linear;
        display: none;
        border: $border;

        &.active {
            display: block;
        }

       .login-heading{
       
        display: flex;
        
     
        h3 {
            
            @include titleText(4rem);
            padding-bottom: 1rem;
            
        }

        .close-button{
            position: absolute;
            @include iconBox();
            margin: 1rem;
            top: 0;
            right: 0;
            cursor: pointer;
         }
    
         .close-button i {
            font-size: 2rem; /* Set the font size for the close icon */
            color: $white; /* Set the color of the close icon */
            padding: 5px; /* Add some padding for the icon */
        }
        
       }

     

        .textfield-box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: $light-bg;
            font-size: 1.6rem;
            color:$light-color;
            margin: .5rem 0;
        }

        .flex {
            display: flex;
            align-items: center;
            gap: .5rem;
            padding-top: 1.5rem;
            padding-bottom: 1rem;

            label {
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }

            a {
                font-size: 1.5rem;
                color: $black;
                margin-left: auto;


                &:hover {
                    color: $yellow;
                }
            }




        }

        .button {
            width: 100%;
        }

        p {
            @include graphText(2rem);
            padding-top: 1rem;

            a {
                color: $yellow;

                &:hover {
                    text-decoration: underline;
                }
            }


        }
    }

    //End of -login form 
}

.home {

    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    background: $primarycolorlightblue;

    .image {
        margin-top: 5rem;
        flex: 1 1 40rem;

        img {
            width: 100%;
            animation: floating 4s linear infinite;
        }
    }

    .content {
        flex: 1 1 40rem;

        h3 {
        
            @include titleText(4rem);

        }

        p {
            @include paraText(2rem); 
            padding: 1rem 0;
            line-height: 3rem;
            font-family: 'Courier New', Courier, monospace;
        }
    }


    
}


.services {
    //background-color: $primarycolorlightblue1;
    min-height: 90vh;
    margin: 1rem;
    padding-bottom: 5rem;

    
    .heading{

        text-align: center;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        //background-color: #4D45CB;
    
        span {
            @include paraText(2.5rem);

        }
    
        h1 {
            @include titleText(4rem);
            padding-top: 0.5rem;
            //background-color: #4D45CB;
        }
    }


    .services-slider{
        
        padding-bottom: 2rem;
    }
    .slide {
      // background-color: #F1C40F;
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        //border: $border;
        //border-radius: 2%;
        background-size: cover !important;
        background-position: center !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(50deg, var(--white), transparent);
        }

       .image{
        flex: 1 1 50rem;
        
        img{
            // background-color: #4D45CB;
             width: 100%;
             height: 100%;
             
            // border: $border;
             
         }
       }

        .content {
           // background-color: #67f295;
            width: 100%;
            position: relative;
            align-items: center;
            padding:1rem;
            margin:1rem;
            flex: 1 1 50rem;
            border: $border;

           

            h3 {
                @include titleText(2rem);
                text-transform: uppercase;
                text-align: center
            }

            p {
                @include graphText(1.5rem);
                padding: 1rem;
                text-align: start;
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        left: initial;
        bottom: 2rem;
        right: 2rem;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
        font-size: 4rem;
        background-color: $white;
        border: $border;
        

        &:hover {
            background: $yellow;
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {

        font-size: 4rem;
        color: $black;
    }


    .swiper-button-prev {
       // background-color: #4D45CB;
        right: 9rem;
    }
    
}

.aboutus {
    background: $primarycolorlightblue;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .image {
        flex-wrap: 1 1 42rem;

        img {
            width: 100%;
            height: 50rem;
        }
    }

    .content {
        border: $border;
        border-radius: 2rem;
        padding: 1rem 2rem;
        margin: 1rem;
        flex: 1 1 42rem;

        h3 {
            font-size: 2.5rem;
            text-decoration: underline;
            padding-bottom: 0.5rem;
            line-height: 3rem;
        }

        h2 {
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            line-height: 2rem;
        }

    }
}

.feature {
   // background-color: $primarycolorlightblue1;
   min-height: 60vh;
    .box-container {
        //background-color: $primarycolorblue;
        margin: 1rem;
    }
    
    .box {
        //background-color: $primarycoloryellow;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        gap: 1rem;
       
        margin: 1rem 0;
        border: $border;
        &:nth-child(even){
            flex-flow: row-reverse wrap;
        }

        &:last-child{
            margin-bottom: 0;
        }


        .image {
            padding: 1rem;
            flex: 1 1 42rem;


            img {
                width: 100%;
            }
        }

        .content {
            padding: 1rem 5rem;
            flex: 1 1 42rem;

            h3 {
                @include titleText(3rem);
               // font-size: 3rem;
                line-height: 3.5rem;

            }


            li {
                @include paraText(2.5rem);
               // font-size: 2.5rem;
                line-height: 3.5rem;
            }

        }


    }

}





























//media queries

@media (max-width:2560px) {

    html {
        font-size: 72.5%;
    }

    .header {
        padding: 1rem;
        display: flex;
        font-size: 90%;

    
    }
}

@media (max-width:1440px) {

    html {
        font-size: 62.5%;
    }

    .header {
        padding: 1rem;
    }

    section {
        padding: 1rem 1rem;
    }
}

@media (max-width:1212px) {

    html {
        font-size: 60.5%;
    }

    .header {
        padding: 1rem;
    }
}

@media (max-width:1200px) {

    html {
        font-size: 55.5%;
    }

    .header {
        padding: 1rem;
    }
}

@media (max-width:1024px) {
    html {
        font-size: 50.5%;
    }

    .header {
        padding: 1rem;
        

        .navbar a {
            font-size: 1.5rem;
        }
    }
}

@media (max-width:968px) {
    html {
        font-size: 50.0%;
    }

    .header {
        padding: 0.5rem;

        .button{
            font-size: 1.75rem;
            padding: 1rem 2rem;
        }
    }
}

@media (max-width:768px) {
    html {
        font-size: 50.0%;
    }

    .header {
        padding: 0.5rem;

        #menu-btn {
            
            display: inline-block;
            transition: 0.2s linear;

            &.fa-times {
                transform: rotate(180deg);
            }
        }

        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            border-top: $border;
            background: $white;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: 0.2s linear;

            &.active-navbar {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                display: block;
                padding: 1rem;
                margin: 0;

            }
        }

        .button {
            display: none;
        }

    }

    .home {
        gap: 0.5rem;
    }

    section {
        padding: 2rem 2rem;
    }


}

@media (max-width:425px) {
    

    .header {
        
        min-height: 10vh;
        padding: 1rem;

        .logo {
            font-size: 2rem;
            display: inline;

            i {
                font-size: 0.5rem;
    
            }
            .fa-cogs{
                display: none;
            }
        }
        
        .icons{
            
            display: inline;
        }

    }
    
    .services{
        padding-bottom: 1rem;
        .heading{
            text-align: center;
            margin-bottom: 1.5rem;
        
            span {
                font-size: 3.0rem;
            }
        
            h1 {
                font-size: 3.5rem;
                padding-top: 0.5rem;
            } 
        }

        .swiper-button-next,
        .swiper-button-prev {
        top: initial;
        left: initial;
        bottom: 1rem;
        right: 1rem;
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 3rem;
        background-color: $white;
         border: $border;
        

        &:hover {
            background: $yellow;
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {

        font-size: 3rem;
        color: $black;
    }


    .swiper-button-prev {
       // background-color: #4D45CB;
        right: 6rem;
    }
    }


    

    section {
        padding: 0.5rem 0.5rem;
    }
}

@media (max-width:375px) {}

@media (max-width:320px) {
    html {
        font-size: 40%;
    }

    .header {
        font-size: 50%;
    }
}